*{
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
}

.formContainer{
    display:flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    overflow: auto;
    border: 29px;
    width: 100%;
    height: 1900px;
    background-image: linear-gradient(to left, #4b00bb, #350069);
}



.form{
    display: flex;
    flex-direction: column;
    text-align: center;
    justify-content: center;
    margin-bottom: 5%;
    width: 500px;
    height: 300px;
    background-image: linear-gradient(to left, #090020, #16002c);
    color:white;
    border-radius: 5px;
}

.form input[type=text],
.form input[type=password],
.form button{
    padding-left:10px;
    display: block;
    margin: 10px auto;
    width: 70%;
    border-radius: 5px;
    font-size: 16px;
    height: 35px;
    max-width: 500px;
    border: 1px solid #8a8a8a;
}

.form h3{
    margin-bottom: 3%;
}

.form .h42{
    margin-top: 3%;
    cursor:pointer;
}

.formContainer{
    height: 850px;
}

@media screen and (max-width:768px) {
    .form{
        width: 70%;
    }
    .formContainer{
        height: 620px;
    }
}


.form button{
    background-color: rgb(37, 0, 97);
    cursor: pointer;
    border: 0;
    color: white;
    
}

.form button:active{
    background-color: rgb(26, 0, 75);
}
